.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ImagePos{
    width: 114%;
    margin-top: 82px;
    margin-left: -55px;
}
.content-Info{
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 60px;
}

.stylingFonts{
  color:#0E7D76;
  cursor:pointer;
}

.outerWrapper{
    width: 482px;
    height: 200px;
    margin: 0 auto;
}
.img-wrapper{
  width: 100%;
}
.whiteBar{
    width: 100%;
    height: 12px;
    background-color: #ffffff;
}
.redBar{
    width: 100%;
    height: 12px;
    background-color: #EB5D56;
}
.yellowBar{
    width: 100%;
    height: 12px;
    background-color: #F5D227;
}
.orangeBar{
    width: 100%;
    height: 12px;
    background-color: #F38F18;
}
.greenBar{
    width: 100%;
    height: 12px;
    background-color: #71C143;
}
.blueBar{
    width: 100%;
    height: 12px;
    background-color: #51A7F8;
}
.text_1{
    padding: 5px;
    margin: 0 auto;
    width: 97%;
}
.fontDesign{
  display: inline-block;
  vertical-align: center;
  font-size: 13px;
  color: black;
  font-weight: bold;  
  position: relative;
  top: 1px;
}
.fontDrama{
  display: inline-block;
  vertical-align: center;
  font-size: 11px;
  float: right;
}
.fontCover{
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}
.cardFotter{
  text-align: center;
  padding: 10px;
}
.innerWrapper{
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.TopBar{
      height: 135px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      font-size: 25px;
      color: black;
      font-weight: bold;
}

/*media query*/

@media screen and (max-width: 699px) and (min-width: 520px) {
   
}

/*.col-md-offset-4.col-md-4.col-sm-offset-2.col-sm-8.loginScreen{
      padding: 15px;
    background-color: #ecf0f1;
    border: 1px solid #E0E4E8;
    border-bottom-width: 2px;
    border-radius: 4px;
}*/

.covering{
    text-align: center;
    position: relative;
    top: 50px;
}
.downshift{
  position: relative;
  top: 65px;
  font-size: 19px;
}
.signinWrapper{
  width: 85%;
  margin: 0 auto;
}
.downSide{
  display: inline-block;
  vertical-align: center;
}
.Dropside{
  display: inline-block;
  vertical-align: center;
  float: right;
  margin-top: px;
}
.driver_image{
  background-size: cover;
  width: 100%;
  height: 324px;
}
.car_image{
  background-size: cover;
  width: 100%;
  height: 360px;
}

@media only screen and (max-width: 500px) {
  .modal-dialog.animated.flipInX.modalMedia {
        width: 287px;
        margin: 4% auto;
    }
}

.wrapperBx{
    overflow: hidden;
    width: 700px;
    margin: 2% auto;
    
}

.context{
  border-bottom: 1px solid grey;
}
.Map_image{
  /*background: url("../images/map.svg") no-repeat center center;*/
  background-size: cover;
  width: 100%;
  height: 469px;  

}

.contentsModal{
  font-size: 15px;
}


li:hover {
  cursor: hand; 
  cursor: pointer;
}

.leftDiv{
  vertical-align: middle;
  display: inline-block;
}
.rightDiv{
  vertical-align: middle;
  display: inline-block;
  float: right;
}
.inputStyling{
  border: none; 
  box-shadow:none;
  background: white;
  margin-top: 5px;
}
.driver_imagePhoto {
  background-size: cover;
  width: 100%;
  height: 186px;
}

/*input::-webkit-input-placeholder {
color: #00a89f !important;
}*/
 
/*input:-moz-placeholder {  Firefox 18- 
color: #00a89f !important;  
}*/
 
/*input::-moz-placeholder {   Firefox 19+ 
color: #00a89f !important;  
}*/
 
/*input:-ms-input-placeholder {  
color: #00a89f !important;  
}*/

.lineBar {
  height:10px;
  background-color: green;
}

#map div div a div {
  display: none;
}

#map div div div div span{
  display: none;
}

#map div div a {
  display: none;
}

@media screen and (min-width:0px) and (max-width:400px){
    .wrapperBx{
    width:350px;
    margin-left: -11px;
  } 
  .mediaLeft{
    position: relative;
    top: 34px;
  }
 
  .rightHandMedia{
    position: relative;
    bottom: 32px;
  } 
  .car_image{
  background-size:400px;
  width: 100%;
  height: 360px;
  }
  .fontCover.MediaFont {
    height: 51px;
  }
  .mediaClassMap{
    width:375px;
    margin-left: -21px;
  }
  .mediaListQeue{
    width:350px;
    position: relative;
    right:12px;
  }
  .modal-dialog .classModalMedia{
    width: 350px; 
  }
  .classModalBodyMedia{
    height: 700px;
  }
}

@media screen and (min-width:450px) and (max-width:700px){
    .wrapperBx{
    width:550px;   
  } 
  .mediaLeft{
    position: relative;
    top: 34px;
  }
  .rightHandMedia{
    position: relative;
    bottom: 32px;
  } 
  .fontCover.MediaFont {
    height: 51px;
  }
  .mediaListQeue{
    width:550px;
  }
  .modal-dialog .classModalMedia{
    width: 550px; 
  }
  .classModalBodyMedia{
    height: 700px;
  }
}