        <div class = "innerWrapper">
            <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
                    <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
        <div class ="driver_image"></div>
        <div class = "lineBar"></div>
        <div class="fontCover"> 
            <div class ="text_1" >
              <div class ="col-sm-6">
                <p class ="fontDesign" style = "font-size: 16px;">Aarav Banerjee</p>
                <br>
                <p class ="fontDesign" style ="font-weight: normal;font-size: 16px; position:relative; top:0px">G Trans Logistics</p>
              </div>  
              <div class ="col-sm-6" style ="text-align:right;">
                <p class ="fontDesign" style = "font-size: 16px;font-weight:normal">Arrived</p>
                <br>
                <p class ="fontDesign" style ="font-weight: normal;font-size: 16px; position:relative; top:0px">5:05AM</p>
              </div>  
            </div>
        </div>
        </div> 