<div class="fontCover"> 
    <div class ="col-sm-4">
    	<p style ="font-size: 17px;font-weight: bold;color: black;margin-left: 10px;">KA025151</p>
    </div>
    <div class ="col-sm-4" style ="text-align:center">
        <p style ="font-size: 17px;color: black;">tata ace ht ht ht ht </p>
    </div>
    <div class ="col-sm-4" style ="text-align:center">
    <button type="button" class="btn btn-icon btn-sm btn-primary">
                                            
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
                                            Drive this vehicle
    </button>
    </div>
</div>