<div class="fontCover"> 
    <div class ="col-sm-4">
    	<p style ="font-size: 17px;font-weight: bold;color: black;">{{licencePlateNumber}}</p>
    	<p style ="font-size: 17px;color: black;">{{organisationName}}</p>

    </div>
    <div class ="col-sm-4" style ="text-align:center">
        <p style ="font-size: 17px;color: black;">{{vehicleName}}</p>
    </div>
    <div class ="col-sm-4" style ="text-align:right">
        <button ng-click="submitDriveThisVehicle()" type="submit" class="btn btn-primary">Drive this Vehicle</button>       
    </div>
</div>