<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stilearn Admin Bootstrap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="stilearning">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/favico-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/favico-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/favico-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/favico-57-precomposed.png">
        <link rel="shortcut icon" href="ico/favico.png">
        <link rel="shortcut icon" href="ico/favico.ico">

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/animate.css/animate.css">
        <link rel="stylesheet" href="bower_components/hover/css/hover.css">
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:css(.tmp) styles/main.css -->
        <link id="style-components" href="styles/loaders.css" rel="stylesheet">
        <link id="style-components" href="styles/bootstrap-theme.css" rel="stylesheet">
        <link id="style-components" href="styles/dependencies.css" rel="stylesheet">
        <link id="style-base" href="styles/stilearn.css" rel="stylesheet">
        <link id="style-responsive" href="styles/stilearn-responsive.css" rel="stylesheet">
        <link id="style-helper" href="styles/helper.css" rel="stylesheet">
        <link id="style-sample" href="styles/pages-style.css" rel="stylesheet">
    </head>

    <body>
        <!-- section header -->
        <header style ="margin-bottom: 0px;border-bottom-width: 0px;" class="header" ng-controller="headerController" ng-init="initialize()">
            <!-- header brand -->
            <div class="header-brand">
               <img src="images/vector-02.png" width = "159px">
            </div><!-- header brand -->
            
            <!-- header-profile -->
            <div class="header-profile">
                <div class="profile-nav">
                    <span class="profile-username">Hi, {{username}}</span>
                        <span style="cursor:pointer" class="dropdown-toggle fa fa-angle-down" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu animated flipInX pull-right" role="menu">
<!--                         <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Inbox</a></li>
                        <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
                        <li class="divider"></li> -->
                        <li ng-click="logOut()"><a><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </div>
                <div class="profile-picture">
                    <img alt="me" src="{{image}}">
                </div>
            </div><!-- header-profile -->     
        </header><!--/header-->

        
        <!-- content section -->
        <section class="section"  ng-controller="sectionController" ng-init="initialize()">


            <aside  class="side-left" >
                

                
                <ul class="sidebar" ng-show="{{roleId == rolesTypes.shipperLoadingManager.id}}">
                    <li>
                        <a  ui-sref="loadManager.job({ jobType: jobsTypes.unassigned.value})">
                            <i class="sidebar-icon fa fa-truck"></i>
                            <span class="sidebar-text">Jobs</span>
                        </a> 
                    </li>
                </ul>

                <ul class="sidebar"  ng-show="{{roleId == rolesTypes.providerAccountReceivableManager.id}}">
                    <li>
                        <a ui-sref="accountReceivable.invoice({invoiceType:'ALL',message : ''})">
                            <i class="sidebar-icon fa fa-home"></i>
                            <span class="sidebar-text">Billing</span>
                        </a>
                    </li>
                </ul>


                <ul class="sidebar" ng-show="{{roleId == rolesTypes.shipperAccountPayableManager.id}}">
                    <li>
                        <a ui-sref="accountPayable.invoice({invoiceType:'ALL',message : ''})">
                            <i class="sidebar-icon fa fa-home"></i>
                            <span class="sidebar-text">Billing</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar" ng-show="false">
                    <li>
                        <a ui-sref="accountReceivable.invoice({invoiceType:'ALL',message : ''})">
                            <i class="sidebar-icon fa fa-home"></i>
                            <span class="sidebar-text">Billing</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sidebar-icon fa fa-truck"></i>
                            <span class="sidebar-text">Jobs</span>
                        </a>
                          
                    </li>
                    <li>
                        <a href="#">
                            <i class="sidebar-icon fa fa-user"></i>
                            <span class="sidebar-text">Provisioning</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="sidebar-icon fa fa-truck"></i>
                            <span class="sidebar-text">Jobs</span>
                        </a> 
                    </li>
                </ul>
            </aside>

            <div ui-view></div>


        </section>

    </body>
</html>
