
            <div class="content">
                <div class="content-header">
                    <h2 class = "content-Info">Billing</h2>
                </div><!--/content-header -->
                
                <div class="content-body">

                
                  <div id="error-placement"></div>
             
                   
                  <div class="col-md-12 margin-bottom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#system-stats" data-toggle="tab">All</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Submitted</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Approved</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Paid</a></li>
                                <button type="button" style ="float:right;width: 110px" class="btn btn-primary">Add</button>
                            </ul>

                  </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Job ID #</th>
                                    <th>Location</th>
                                    <th>InvoiceAmount</th>
                                    <th>Time Completed</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class ="stylingFonts">2016 02 08-0523</td>
                                    <td>Bannerghatta Road 56 076</td>
                                    <td><i class="fa fa-inr"></i> 1688.50</td>
                                    <td>05:32 2016/02/08</td>
                                    <td class ="stylingFonts">Submit Invoice</td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   
                </div> <!-- content-body -->


            