
            <div class="content">
                <div class="content-header">
                    <h2 class = "content-Info">Billing</h2>
                </div><!--/content-header -->
                
                <div class="content-body">

                
                  <div id="error-placement"></div>
             
                   
                  <div class="col-md-12 margin-bottom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#system-stats" data-toggle="tab">All</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Submitted</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Approved</a></li>
                                <li><a href="#server-stats" data-toggle="tab">Paid</a></li>
                                <button type="button" style ="float:right;width: 110px" class="btn btn-primary">Add</button>
                            </ul>

                  </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Job ID #</th>
                                    <th>Location</th>
                                    <th>InvoiceAmount</th>
                                    <th>Time Completed</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class ="stylingFonts">2016 02 08-0523</td>
                                    <td>Bannerghatta Road 56 076</td>
                                    <td><i class="fa fa-inr"></i> 1688.50</td>
                                    <td>05:32 2016/02/08</td>
                                    <td class ="stylingFonts">Submit Invoice</td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#centerModal">Show modal</button>
                    
                    <div class="modal modal-center fade" data-sound="note" id="centerModal" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
                                <div class="modal-dialog animated flipInX">
                                    <div class="modal-content" style = "width: 768px;width: 768px;margin-left: -69px;margin-top: -70px;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="centerModalLabel">Invoice For Job ID# 2016 02 08 -0523</h4>
                                      </div>
                                        <div class="modal-body" style = "height: 283px;">
                                            

                                            <div class="clearfix row">

                                            <div class ="col-md-4 outerWrapper pull-left">
                                                <div class = "innerWrapper">
                                                    <img  class = "img-wrapper" src="images/driver_photo_1.png" style ="height: 135px;">
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                      <p class ="fontDesign">Aarav Benerjee</p>
                                                     
                                                    </div>
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                       <p class ="fontDrama" style ="float:left">G Trans Logistics Pvt. Ltd</p> 
                                                       
                                                    </div>
                                                    </div>
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                      <p class ="fontDesign">KA 19P 8488</p>
                                                     
                                                    </div>
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                       <p class ="fontDrama" style ="float:left">White Tata Ace</p> 
                                                       
                                                    </div>
                                                    </div>
                                                    
                                                </div>    
                                            </div>
                                            <div class ="col-md-4 outerWrapper pull-left">
                                                <div class = "innerWrapper">
                                                    <img  class = "img-wrapper" src="images/kd.png" style ="height: 135px;">
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                      <p class ="fontDesign">2016 02 08 - 123</p>
                                                     
                                                    </div>
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                       <p class ="fontDrama" style ="float:left">Bannerghatta Road 560076</p> 
                                                       
                                                    </div>
                                                    </div>
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;height: 56px;">
                                                      <p class ="fontDesign">55 Packages</p>
                                                     
                                                    </div>
                                                    </div>
                                                    
                                                </div>    
                                            </div>
                                            <div class ="col-md-4 outerWrapper pull-left">
                                                <div class = "innerWrapper">
                                                    <div class ="TopBar">
                                                        <p style ="position: relative;top: 51px;"><i class="fa fa-inr"></i> 1545.80</p>
                                                    </div>
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                      <p class ="fontDesign">Aarav Benerjee</p>
                                                     
                                                    </div>
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                       <p class ="fontDrama" style ="float:left">G Trans Logistics Pvt. Ltd</p> 
                                                       
                                                    </div>
                                                    </div>
                                                    <div class="fontCover">
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                      <p class ="fontDesign">KA 19P 8488</p>
                                                     
                                                    </div>
                                                    <div class ="text_1" style ="line-height: 11px;">
                                                       <p class ="fontDrama" style ="float:left">White Tata Ace</p> 
                                                       
                                                    </div>
                                                    </div>
                                                    
                                                </div>    
                                            </div>


                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                   
                </div> <!-- content-body -->


            