<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header" style = "overflow: visible;">
      <div class ="leftDiv">   
       <h2 class = "content-Info" style ="margin-left: 15px;">Pair with the vehicle</h2>
      </div>
      <div class ="rightDiv">   
        <h2 class = "content-Info">
          <div class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div style ="width: 36px;text-align: center;font-size: 20px;color: #495271;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div></a>
               <ul class="dropdown-menu" style ="margin-left: -139px;margin-top: -50px;"> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Return to Centre</a></li> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Out of time</a></li> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Truck breakdown</a></li>
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">End of day</a></li>  
               </ul> 
           </div>
       </h2>
    </div>      

</div><!--/content-header -->
    
    <div class="content-body">

    
      <div id="error-placement"></div>
 
      
      <div class ="wrapperBx">
      <div class ="col-md-12" style ="margin : 0 auto">
        <div class = "innerWrapper">
            <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
            <div ng-include="'../views/cards/driverCard.html'"></div>
            <div class="fontCover" style ="height: 58px;"> 
                <div class ="text_1" >
                  <div class="col-sm-8" style ="margin-top: 5px;">
                            <input style = "border:none;margin-left:-27px;width: 557px; font-size: 16px;color: black;    box-shadow: none;"type="text" class="form-control" id="input" autofocus="autofocus" placeholder="Last 4 Digits of Licence Plate Number" ng-model="licencePlateNumber" ng-keypress="onlicencePlateKeyPress()">
                  </div>
                </div>
            </div>
           
        </div>    
      </div>
      </div>

       
    </div> <!-- content-body --> 


</div><!--/content -->

<script>
$(document).ready(function() {
$(".dropdown-toggle").dropdown();
});
</script>