<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header">
        <h2 class = "content-Info" style ="margin-left: 15px;">Drivers</h2>
    </div><!--/content-header -->
    
    <div class="content-body">

    
      <div id="error-placement"></div>
 
      
      <div class ="wrapperBx">
      <div class ="col-md-12" style ="margin : 0 auto">
        <div class = "innerWrapper">
            <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
                    <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
        <div class ="driver_image"></div>
        <div class ="lineBar"></div>
        <div class="fontCover" style ="verticle-align:middle; display:inline-block; border:none"> 
            <div class ="text_1" >
              <p class ="fontDesign" style = "font-size: 16px;">Aarav Banerjee</p>
              <br>
              <p class ="fontDesign" style ="font-weight: normal;font-size: 16px; position:relative; top:0px">G Trans Logistics</p>
            </div>
        </div>

        <div class="fontCover" style ="verticle-align:middle; display:inline-block; border:none" > 
            <div class ="text_1" >
              <p class ="fontDesign" style = "font-size: 16px;">Aarav Banerjee</p>
              <br>
              <p class ="fontDesign" style ="font-weight: normal;font-size: 16px; position:relative; top:0px">G Trans Logistics</p>
            </div>
        </div>
        </div>    
      </div>
      </div>

       
    </div> <!-- content-body --> 


</div><!--/content -->