<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header">
        <h2 class = "content-Info" style ="margin-left: 15px;">Check In</h2>
    </div><!--/content-header -->
    
    <div class="content-body">

    
      <div id="error-placement"></div>
 
      
      <div class ="wrapperBx">
      <div class ="col-md-12" style ="margin : 0 auto">
        <div class = "innerWrapper">
            <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
            <div ng-include="'../views/cards/driverCard.html'"></div>
            <div class="fontCover"> 
                <div class ="text_1" >
                  <p class ="fontDesign" style ="color:#00a89f;font-size: 16px;font-weight:normal">Last 4 digits of License </p><br>
                  <div class="col-sm-5">
                            <input style = "border:none;margin-left:-27px; font-size: 16px;color: black;"type="text" class="form-control" id="input" autofocus="autofocus" placeholder="Enter here" ng-model="licencePlateNumber" ng-keypress="onlicencePlateKeyPress()">
                  </div>
                </div>
            </div>
           
        </div>    
      </div>
      </div>

       
    </div> <!-- content-body --> 


</div><!--/content -->

