<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header" style = "overflow: visible;">
         <h2 class = "content-Info" style ="margin-left: 15px;">JOB# {{jobName}}</h2>
    </div><!--/content-header -->
    
    <div class="content-body">

    
      <div id="error-placement"></div>

                <ul class="nav nav-tabs">
                    <li ui-sref="driver.jobs({jobType:'undelivered'})" class="active"><a href="#">Undeliverd</a></li>
                    <li ui-sref="driver.jobs({jobType:'delivered'})"><a href="#">Delivered</a></li>
                    <li  ui-sref="driver.jobs({jobType:'returning'})"><a href="#">Returning</a></li>
                </ul>

    
           <div class="table-responsive" style = "margin-top: 17px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Package #</th>
                        <th>Customer Address</th>
                        
                        
                    </tr>
                </thead>
                <tbody  ng-repeat="package in packages">
                    <tr>
                    <td ng-click="openJobModal(package)" style ="color:#15A99F">ID # {{package.packageNumber}}</td>
                    <td>{{package.address}}</td>
                    </tr>                
                </tbody>
            </table>
           </div>
           <div ng-include="'../views/driverJobModal.html'"></div>   
    </div> <!-- content-body --> 


</div><!--/content -->

<script>
$(document).ready(function() {
$(".dropdown-toggle").dropdown();
});
</script>