<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header" style = "overflow: visible;">
      <div class ="leftDiv">   
       <h2 class = "content-Info" style ="margin-left: 15px;">Check In</h2>
      </div>
      <div class ="rightDiv">   
        <h2 class = "content-Info">
          <div class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div style ="width: 36px;text-align: center;font-size: 20px;color: #495271;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div></a>
               <ul class="dropdown-menu" style ="margin-left: -139px;margin-top: -50px;"> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Return to Centre</a></li> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Out of time</a></li> 
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">Truck breakdown</a></li>
                   <li><a href="#"style ="font-size:15px;margin-top: 5px;margin-bottom: 5px;">End of day</a></li>  
               </ul> 
           </div>
       </h2>
    </div>
    </div> 
        
    <div class="content-body" style ="overflow: hidden;
    margin-top: 26px;" >

    
      <div id="error-placement"></div>
 
      
      <div class ="col-sm-6 mediaClassMap">
      <div class ="col-md-12" style ="margin : 0 auto">
        <div class = "innerWrapper">
            <div ng-include="'../views/cards/driverCard.html'"></div>
            <div class="fontCover" style ="height: 58px;"> 
            <div class ="text_1" >
              <p class ="fontDesign" style = "font-size: 16px;">{{licencePlateNumber}}</p><br>
              <p class ="fontDesign" style ="font-weight: normal;font-size: 16px; position:relative; top:-10px">{{vehicleName}}</p>
            </div>
        </div>
        </div>    
      </div>
      </div>


        <div class = "col-sm-6 mediaClassMap">
        <div class ="col-md-12" style ="margin : 0 auto">
        <div class="fontCover" style = "border:1px solid lightgrey; height: 441px;"> 
                <div>
                  <div id="map" class = "Map_image">
                  </div>
                </div>
        </div>  
        </div>
        </div>
      
       
    </div> <!-- content-body --> 


</div><!--/content -->