<div class="content" style ="margin-left:0px;" ng-init="initialize()">
    <div class="content-header">
        <h2 class = "content-Info" style ="margin-left: 15px;">Check In</h2>
    </div><!--/content-header -->
    
    <div class="content-body">

    
      <div id="error-placement"></div>
 
      
      <div class ="wrapperBx">
      <div class ="col-md-12" style ="margin : 0 auto">
        <div class = "innerWrapper">
            <!-- <img  class = "img-wrapper img-resposive" src="images/driver_photo_1.png"> -->
            <img src="images/car.png" class ="img-responsive" style = "height: 324px">
            <div ng-include="'../views/cards/vehicleCard.html'"></div>
            <div class="fontCover"> 
                <div class ="text_1" style ="width: 80%" >
                  
                    <button ng-click="driveDifferentVehicle()" type="button" class="btn btn-cloud">Drive Different Vehicle</button>
                  
                 
                    <button style = "float:right; width:157px;" type="button" class="btn btn-primary" ng-click="submitDriveThisVehicle()">Drive This Vehicle</button>
                 
                </div>
            </div>
           
        </div>    
      </div>
      </div>

       
    </div> <!-- content-body --> 


</div><!--/content -->

